body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background: rgba(229, 84, 115, 0.10);
   
}



.header-container{
    display: flex;
    justify-content:space-around ;
    margin: 0 30px;
}
.web-title{
color: #272727;

font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    
    
    
}
.btn{
    border: 0;
    border-radius: 5px;
    padding: 20px 43px;
    background: #E55473;
    color: white;
    width: 177px;
    height:64px ;
    margin-bottom: 50px;
}
.header-img{
    width: 635;
    height: 800;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 145px;
    margin-bottom: 0;
}

.section-one-title{
    text-align: center;
    color: #272727;

    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;   
}
.section-one-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.section-two-container{
    display: flex;
    gap: 0px;
    justify-content: space-around;
    margin: 0px;
    background: #FFF;
}    


.section-two-img1{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
     background: rgba(167, 33, 98, 0.15);
     padding-top: 110px;
     padding-right: 78;
     padding-left: 76;
     padding-bottom: 30px;
     
    }    
.section-tow-img2{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px;
}
.section-two-img3{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-top: 80PX;
    padding-right: 65PX;
    padding-left: 65PX;
    padding-bottom:  45px;
}    
.section-two-text{
    margin-top: 100px;
    font-weight: 700;
   line-height: 35px; 
   text-decoration-line: underline;
}
.section-two-text2{
    margin-top: 150px;
    line-height: 35px; 
   text-decoration-line: underline;
}
.section-3-container{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px;

}


.off-text{
    color: #E55473;
}
.section-4-container{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
    background: #FFF;
}
.section-5-container{
    background-image: url('image/Rectangle\ 9.png');
    border-radius: 8px;
    background-repeat: no-repeat;
    padding: 60px;
}
.section-5-input{
    text-align: center;
}
.email-box{
    font-size: 15px;
    font-weight: 100;
    width: 700px;
    height: 64px;
    border-radius: 20px;
    background: #FFF;

}


   
    





